:root {
    --text: #FFFFFF;
    --back: #151515;
    --gray: #F0F0F0;
    --shadow: #010101;
    --ws: #1A1A1A;
    --delay: 0.8s;
}

@font-face {
    font-family: Aexir;
    src: url(./assets/fonts/Aexir-XG3q9.otf);
}

@font-face {
    font-family: Asgard;
    src: url(./assets/fonts/AsgardTrial-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 1em 2em;
    overflow-x: hidden;
    overflow-y: hidden;
    background: var(--back);
    animation: over 0.8s forwards;
    animation-delay: 2s;
}

@keyframes over {
    0% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: auto;
    }
}

.header {
    font-size: 2em;
    color: var(--text);
    font-family: Aexir;
}

nav {
    height: 40px;
    position: absolute;
    width: fit-content;
}

nav.left {
    top: 1em;
    left: -20em;
    animation: left-in 0.8s cubic-bezier(0.7, 0, 0.99, 0.01) forwards;
    animation-delay: var(--delay);
}

@keyframes left-in {
    0% {
        left: -20em;
    }
    98% {
        left: 1.8em;
    }
    100% {
        left: 2em;
    }
}

nav.right {
    top: -20em;
    left: auto;
    right: 2em;
    color: var(--gray);
    font-family: Asgard;
    text-transform: uppercase;
    animation: top-in 0.8s cubic-bezier(0.7, 0, 0.99, 0.01) forwards;
    animation-delay: var(--delay);
}

@keyframes top-in {
    0% {
        top: -20em;
    }
    98% {
        top: 1.8em;
    }
    100% {
        top: 2em;
    }
}

nav.right > span,
nav.right div:not(.icon) {
    height: 40px;
    margin: 0 2em;
    display: flex;
    font-size: 1.4em;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
}

nav.right > span:nth-last-child(1) {
    margin-right: 0 !important;
}

nav.right > span:nth-child(1) {
    margin-left: 0 !important;
}

nav.right .icon {
    filter: invert(1);
    margin-left: 0.5em;
}

.menu {
    width: 40px;
    height: 40px;
    margin-right: 2em;
}

main {
    top: 0;
    height: 90%;
    opacity: .1;
    font-size: 18.9em;
    width: fit-content;
    gap: 0 !important;
    line-height: 100%;
    color: var(--text);
    font-family: Aexir;
    position: absolute;
    animation: opacity 0.1s cubic-bezier(0.7, 0, 0.99, 0.01) forwards;
    animation-delay: var(--delay);
}

@keyframes opacity {
    0% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

main div {
    height: fit-content;
}

main div:nth-child(2) {
    margin-top: -0.1em !important;
}

.character {
    bottom: -30em;
    left: 50%;
    /* height: 90vh; */
    height: 140vh;
    overflow: hidden;
    width: fit-content;
    position: absolute;
    transform: translateX(-50%);
    animation: scale 0.2s cubic-bezier(0.7, 0, 0.99, 0.01) forwards;
    animation-delay: 1.2s;
}

@keyframes scale {
    0% {
        bottom: -30em;
        height: 140vh;
    }
    100% {
        bottom: 0em;
        height: 90vh;
    }
}

.character img {
    width: 100%;
    height: 130%;
    object-fit: contain;
    filter: drop-shadow(0px 7px 9px var(--ws));
}

.text-back-shadow,
.character-shadow,
.nav-shadow {
    top: 55%;
    left: -5em;
    width: 90%;
    z-index: -1;
    max-width: 700px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    background: radial-gradient(circle, var(--shadow) 0%, transparent 60%, transparent 100%);
}

.character-shadow {
    left: 55%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, var(--ws) 0%, transparent 70%, transparent 100%);
}

article {
    width: 90%;
    bottom: -20em;
    max-width: 300px;
    position: absolute;
    font-family: Asgard;
    animation: bottom-in 0.4s cubic-bezier(0.7, 0, 0.99, 0.01) forwards;
    animation-delay: 1.4s;
}

@keyframes bottom-in {
    0% {
        bottom: -20em;
    }

    100% {
        bottom: 1em;
    }
}

article h2 {
    color: var(--text);
    margin: 0.5em 0;
}

article p {
    color: #a5a4a4;
    line-height: 1.5em;
}

article .glob {
    width: 180px;
    height: 180px;
    margin-left: -2em;
}

article .glob img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    filter: drop-shadow(0px 7px 9px var(--ws));
}

article .long-arrow {
    width: 100%;
    margin: 0.5em 0;
    opacity: .6;
    filter: invert(1);
}

.button {
    left: 50%;
    bottom: -20em;
    width: 260px;
    font-size: 1.1em;
    line-height: 0.9em;
    padding: 0.7em 2em;
    color: var(--back);
    position: absolute;
    border-radius: 8px;
    font-weight: bolder;
    font-family: Asgard;
    text-decoration: none;
    background: var(--text);
    transform: translateX(-50%);
    animation: bottom-in 0.4s cubic-bezier(0.7, 0, 0.99, 0.01) forwards;
    animation-delay: 1.4s;
}

.button .text {
 width: fit-content;
    display: inline;
}

.button .arrow {
    width: 80px;
}

.button .arrow img {
    width: 100%;
    object-fit: contain;
}

.nav-shadow {
    left: auto;
    right: -3em;
    width: 600px;
    top: 25%;
}

.navigate-video {
    right: -30em;
    bottom: 1em;
    width: 20%;
    position: absolute;
    animation: right-in 0.8s cubic-bezier(0.7, 0, 0.99, 0.01) forwards;
    animation-delay: var(--delay);
}

@keyframes right-in {
    0% {
        right: -30em;
    }
    98% {
        right: 1.8em;
    }
    100% {
        right: 2em;
    }
}

.navigate-video p {
    color: #a5a4a4;
    font-size: 1.1em;
    text-align: center;
    font-family: Asgard;
}

.navigate {
    width: 100%;
    margin: 2em 0;
    padding: 0.5em 2em;
    border-radius: 4px;
    color: var(--text);
    font-family: Asgard;
    background: #242424;
}

.navigate .icon {
    filter: invert(1);
}

.video-content {
    width: 100%;
    height: 67vh;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
}

.video-content .video {
    width: 100%;
    z-index: -1;
    height: 100%;
    position: relative;
}

.video-content .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-content .play {
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
}

.video-content .play img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.video-content .action {
    right: 1em;
    bottom: 1em;
    width: 50px;
    height: 80px;
    border-radius: 4px;
    position: absolute;
    backdrop-filter: blur(5px);
    background: hsla(0, 0%, 0%, 0.582);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.video-content .action .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.video-content .action .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.video-content .action .icon.center img {
    height: 50%;
}

/* Reusable Classes (Cross-Browser) */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.FX-center {
  justify-content: center;
}

.FY-center {
  align-items: center;
}

.F-space {
    justify-content: space-between;
}

.F-center {
  justify-content: center;
  align-items: center;
}

.F-down {
  flex-direction: column;
}

.F-up {
  flex-direction: row;
}

.Fw {
  flex-wrap: wrap;
}

.F-wn {
  flex-wrap: nowrap;
}