:root {
    --text: #FFFFFF;
    --back: #151515;
    --shadow: #010101;
    --ws: #1A1A1A;
    --delay: 5s;
}

@font-face {
    font-family: Aexir;
    src: url(./assets/fonts/Aexir-XG3q9.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 1em 2em;
    background: var(--back);
}

.header {
    font-size: 2em;
    color: var(--text);
    font-family: Aexir;
}

nav {
    height: 40px;
    position: absolute;
    width: fit-content;
}

nav.left {
    top: 1em;
    left: 2em;
}

nav.right {
    top: 1em;
    left: auto;
    right: 2em;
    color: var(--text);
}

.menu {
    width: 40px;
    height: 40px;
    margin-right: 1em;
}

/* Reusable Classes (Cross-Browser) */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.FX-center {
  justify-content: center;
}

.FY-center {
  align-items: center;
}

.F-center {
  justify-content: center;
  align-items: center;
}

.F-down {
  flex-direction: column;
}

.F-up {
  flex-direction: row;
}

.Fw {
  flex-wrap: wrap;
}

.F-wn {
  flex-wrap: nowrap;
}