:root {
    --text: #FFFFFF;
    --back: #151515;
    --shadow: #010101;
    --ws: #1A1A1A;
    --delay: 5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1em 2em;
    padding: 0;
}

.header {
    font-family: sans-serif;
}


/* Reusable Classes (Cross-Browser) */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.FX-center {
  justify-content: center;
}

.FY-center {
  align-items: center;
}

.F-center {
  justify-content: center;
  align-items: center;
}

.F-down {
  flex-direction: column;
}

.F-up {
  flex-direction: row;
}

.Fw {
  flex-wrap: wrap;
}

.F-wn {
  flex-wrap: nowrap;
}